<ion-header>
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable value="heart">
      <ion-segment-button value="home">
        <ion-label>All areas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="heart">
        <ion-label>Client detail areas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment scrollable value="heart">
    <ion-segment-button value="home">
      <ion-label>All areas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-label>Client detail areas</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
