<ion-header>
  <ion-toolbar >
    <ion-segment class="workaround" value="heart" >
      <ion-segment-button value="home">
        <ion-label>All areas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="heart">
        <ion-label>Client detail areas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment scrollable value="heart" >
    <ion-segment-button value="home">
      <ion-label>All areas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="heart">
      <ion-label>Client detail areas</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
